# User specific
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.DS_Store
*.mdb
*.bak

bin/
obj/
packages/repositories.config
packages/**/*.xml
Built/
AppPackages/
BundleArtifacts/
.vscode/
.vs/

**/project.lock.json
Resource.designer.cs

Thumbs.db
UpgradeLog.htm

.gitignore~
..gitignore.un~
